.header {
   background-color: rgba(255, 255, 255, 0.438);
  color: black;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .header h1 {
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
  }
  .header h3{
    padding-bottom: 15px;
  }
  